{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'DataCollection/style.css' %}">
<h1>{{ tc }}</h1>
<h2>Test Configuration</h2>
<p>Test ID: {{tc.s_TestId}}</p>
<p>Test Description: {{tc.s_TestDesc}}</p>
<p>Desired Temperature: {{tc.i_DesiredTemp}}</p>
<p>Desired Voltage: {{tc.i_DesiredVoltage}}</p>
<p>Desired Test Time: {{tc.i_DesiredTestTime}}</p>
<p>Desired Field: {{tc.i_DesiredField}}</p>
<p>Desired Serial Rate: {{tc.i_DesiredSerialRate}}</p>
<p><a href="{% url 'DataCollection:index' %}">Go Back to Index Page</a></p>
<p><a href="{% url 'DataCollection:TestConfigurations' %}">Go Back to Test Configurations Page</a></p>
